################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AWS_Samples/packages
/AWS_Samples/AWS_Samples/obj/Debug
/AWS_Samples/AWS_Samples/App.config
